/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Candara", sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background-image: linear-gradient(black 35%, white);
  position: relative;
}

a {
	text-decoration: none;

}

/* =================================
  Header Styles
==================================== */

header .jumbotron {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #000 url('img/background.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.face {
  border-radius: 50%;
  margin: auto;
  width: 200px;
  display: block;
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
}

header h1,
header span {
  text-shadow: 1px 1px 3px black;
  font-size: .7rem;
}

#jumbo-title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#jumbo-span {
  font-size: 1rem;
}

header nav {
  margin-bottom: 0;
  position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
  z-index: 100;
}

#navbarNav {
  justify-content: center;
  line-height: 3rem;
  font-size: 1.2rem;
}

/* =================================
  Main Content Styles
==================================== */

.section-headers {
  background-color: steelblue;
  color: white;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

#contactMe input,
#contactMe textarea {
  background-color: rgba(255, 255, 255, 0.5);
}

#contactMe img {
  width: 3rem;
}

#contactMe ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

/* =================================
  Footer Styles
==================================== */

footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* =================================
	Media Queries
==================================== */

@media(min-width: 768px) {
  #contactMe ul {
    flex-direction: row;
}

@media(min-width: 992px) {
  header .jumbotron {
    min-height: 50rem;
    margin-top: 4.1rem;
    margin-bottom: 6rem;
  }

  #jumbo-title{
    font-size: 3.5rem;
  }

  #jumbo-span {
    font-size: 1.25rem;
  }

  .face {
    margin-top: 3rem;
  }

#contactMe ul,
#contactMe ul li a{
  text-align: center;
  }

}
